test/test_data.json
{ 
  "inject_debug": {
    "id": "936f12f9.bde1",
    "label": "Flow 3",
    "nodes": [
      {
        "crontab": "",
        "id": "32c99127.1a362f",
        "name": "",
        "once": false,
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
          [
            "9b058f2.7bb178"
          ]
        ],
        "x": 252,
        "y": 112,
        "z": "936f12f9.bde1"
      },
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "9b058f2.7bb178",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 479,
        "y": 114,
        "z": "936f12f9.bde1"
      }
    ]
  },
  "inject_only": {
    "id": "936f12f9.bde1",
    "label": "Flow 3",
    "nodes": [
      {
        "crontab": "",
        "id": "32c99127.1a362f",
        "name": "",
        "once": false,
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [[]],
        "x": 252,
        "y": 112,
        "z": "936f12f9.bde1"
      }
    ]
  },
  "inject_func_debug": {
    "id": "ee9eb93b.35e2d8",
    "label": "Flow 3",
    "nodes": [
      {
        "crontab": "",
        "id": "55022439.c2cc6c",
        "name": "",
        "once": false,
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
          [
            "f680375b.a20db8"
          ]
        ],
        "x": 179,
        "y": 127,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "83e2f4.522a1d1",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 494,
        "y": 126,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "func": "\nreturn msg;",
        "id": "f680375b.a20db8",
        "name": "",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "83e2f4.522a1d1"
          ]
        ],
        "x": 329,
        "y": 128,
        "z": "ee9eb93b.35e2d8"
      }
    ]
  },
  "func_debug_debug": {
    "id": "ee9eb93b.35e2d8",
    "label": "Flow 3",
    "nodes": [
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "83e2f4.522a1d1",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 494,
        "y": 126,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "func": "\nreturn msg;",
        "id": "f680375b.a20db8",
        "name": "",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "83e2f4.522a1d1",
            "1f7a6edc.344191"
          ]
        ],
        "x": 218,
        "y": 126,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "1f7a6edc.344191",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 490.5,
        "y": 187,
        "z": "ee9eb93b.35e2d8"
      }
    ]
  },
  "func_func_debug": {
    "id": "ee9eb93b.35e2d8",
    "label": "Flow 3",
    "nodes": [
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "83e2f4.522a1d1",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 494,
        "y": 126,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "func": "\nreturn msg;",
        "id": "f680375b.a20db8",
        "name": "",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "83e2f4.522a1d1"
          ]
        ],
        "x": 218,
        "y": 126,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "func": "\nreturn msg;",
        "id": "9f3ef10b.6f085",
        "name": "",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "83e2f4.522a1d1"
          ]
        ],
        "x": 218,
        "y": 201,
        "z": "ee9eb93b.35e2d8"
      }
    ]
  },
  "func_func_debug_debug": {
    "id": "ee9eb93b.35e2d8",
    "label": "Flow 3",
    "nodes": [
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "83e2f4.522a1d1",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 494,
        "y": 126,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "func": "\nreturn msg;",
        "id": "f680375b.a20db8",
        "name": "",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "83e2f4.522a1d1",
            "2e50b3a1.ce48cc"
          ]
        ],
        "x": 218,
        "y": 126,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "func": "\nreturn msg;",
        "id": "9f3ef10b.6f085",
        "name": "",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "83e2f4.522a1d1",
            "2e50b3a1.ce48cc"
          ]
        ],
        "x": 218,
        "y": 201,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "2e50b3a1.ce48cc",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 497.5,
        "y": 201,
        "z": "ee9eb93b.35e2d8"
      }
    ]
  },
  "func_2_debug_debug": {
    "id": "ee9eb93b.35e2d8",
    "label": "Flow 3",
    "nodes": [
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "83e2f4.522a1d1",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 494,
        "y": 126,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "func": "\nreturn msg;",
        "id": "f680375b.a20db8",
        "name": "",
        "noerr": 0,
        "outputs": "2",
        "type": "function",
        "wires": [
          [
            "83e2f4.522a1d1"
          ],
          [
            "2e50b3a1.ce48cc"
          ]
        ],
        "x": 223,
        "y": 132,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "2e50b3a1.ce48cc",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 497.5,
        "y": 201,
        "z": "ee9eb93b.35e2d8"
      }
    ]
  },
  "func_2_debug_debug_debug": {
    "id": "ee9eb93b.35e2d8",
    "label": "Flow 3",
    "nodes": [
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "83e2f4.522a1d1",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 494,
        "y": 126,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "func": "\nreturn msg;",
        "id": "f680375b.a20db8",
        "name": "",
        "noerr": 0,
        "outputs": "2",
        "type": "function",
        "wires": [
          [
            "83e2f4.522a1d1"
          ],
          [
            "2e50b3a1.ce48cc",
            "5f6da99c.665418"
          ]
        ],
        "x": 223,
        "y": 132,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "2e50b3a1.ce48cc",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 497.5,
        "y": 201,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "5f6da99c.665418",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 502,
        "y": 279,
        "z": "ee9eb93b.35e2d8"
      }
    ]
  },
  "func_2_2_debug": {
    "id": "ee9eb93b.35e2d8",
    "label": "Flow 3",
    "nodes": [
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "83e2f4.522a1d1",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 489,
        "y": 88,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "func": "\nreturn msg;",
        "id": "f680375b.a20db8",
        "name": "",
        "noerr": 0,
        "outputs": "2",
        "type": "function",
        "wires": [
          [
            "83e2f4.522a1d1",
            "2e50b3a1.ce48cc"
          ],
          [
            "2e50b3a1.ce48cc",
            "83e2f4.522a1d1"
          ]
        ],
        "x": 267,
        "y": 131,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "active": true,
        "complete": "false",
        "console": "false",
        "id": "2e50b3a1.ce48cc",
        "name": "",
        "type": "debug",
        "wires": [],
        "x": 492.5,
        "y": 176,
        "z": "ee9eb93b.35e2d8"
      }
    ]
  },
  "func_func_circular": {
    "id": "ee9eb93b.35e2d8",
    "label": "Flow 3",
    "nodes": [
      {
        "func": "\nreturn msg;",
        "id": "f680375b.a20db8",
        "name": "",
        "noerr": 0,
        "outputs": "1",
        "type": "function",
        "wires": [
          [
            "d311aab7.71f0d8"
          ]
        ],
        "x": 267,
        "y": 131,
        "z": "ee9eb93b.35e2d8"
      },
      {
        "func": "\nreturn msg;",
        "id": "d311aab7.71f0d8",
        "name": "",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "f680375b.a20db8"
          ]
        ],
        "x": 268.5,
        "y": 219,
        "z": "ee9eb93b.35e2d8"
      }
    ]
  },
  "complex": {
    "id": "1c925984.e34566",
    "label": "Flow 2",
    "nodes": [
      {
        "func": "return msg;",
        "id": "de817c84.0eb38",
        "name": "DB",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "99ed4f6b.3f1be"
          ]
        ],
        "x": 452.5,
        "y": 278,
        "z": "1c925984.e34566"
      },
      {
        "active": false,
        "complete": "true",
        "console": "false",
        "id": "cfb92941.33cf78",
        "name": "Notify",
        "type": "debug",
        "wires": [],
        "x": 773.5,
        "y": 271,
        "z": "1c925984.e34566"
      },
      {
        "func": "msg.payload={dev: 'car1'}\nmsg.payload.plate='1P'\n\nreturn msg;",
        "id": "f0073612.4ddb68",
        "name": "Cam",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "f70a3a71.714108"
          ]
        ],
        "x": 123.5,
        "y": 159,
        "z": "1c925984.e34566"
      },
      {
        "func": "msg.payload.dev='car1'\nmsg.payload.location='test'\nreturn msg;",
        "id": "435a38fc.f8e568",
        "name": "Loc",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "99ed4f6b.3f1be"
          ]
        ],
        "x": 380,
        "y": 45,
        "z": "1c925984.e34566"
      },
      {
        "func": "var dev = msg.payload.dev;\nvar plate = msg.payload.plate;\nif (dev.split('car')[1] !== plate.split('P')[0]){\n  node.error('mismatch');\n}",
        "id": "5a8050f6.64d2",
        "name": "Test",
        "noerr": 0,
        "outputs": "0",
        "type": "function",
        "wires": [],
        "x": 767.5,
        "y": 120,
        "z": "1c925984.e34566"
      },
      {
        "crontab": "",
        "id": "ff527685.dabe38",
        "name": "tick",
        "once": false,
        "payload": "{}",
        "payloadType": "json",
        "repeat": "1",
        "topic": "",
        "type": "inject",
        "wires": [
          [
            "f0073612.4ddb68",
            "435a38fc.f8e568"
          ]
        ],
        "x": 153.5,
        "y": 45,
        "z": "1c925984.e34566"
      },
      {
        "func": "\nreturn msg;",
        "id": "f70a3a71.714108",
        "name": "Fog",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "de817c84.0eb38"
          ]
        ],
        "x": 278,
        "y": 185,
        "z": "1c925984.e34566"
      },
      {
        "id": "6ab90e23.73483",
        "info": "",
        "name": "loc.dev === cam.dev",
        "type": "comment",
        "wires": [],
        "x": 841.5,
        "y": 184,
        "z": "1c925984.e34566"
      },
      {
        "func": "var locQueue = context.get('loc')||{};\nvar plateQueue = context.get('plate')||{};\n\nif (msg.payload.location){\n  // push msg to locQueue\n  if (!locQueue[msg.payload.dev]){\n    locQueue[msg.payload.dev] = [msg.payload]\n  } else {\n    locQueue[msg.payload.dev].push(msg.payload)\n  }\n  context.set('loc', locQueue);\n}\n\nif (msg.payload.plate){\n  // push msg to plateQueue\n  if (!plateQueue[msg.payload.dev]){\n    plateQueue[msg.payload.dev] = [msg.payload]\n  } else {\n    plateQueue[msg.payload.dev].push(msg.payload)\n  }\n  context.set('plate', plateQueue);\n}\n\n// merge 2 queue fifo by dev\nvar merged = [];\n\nfor (var dev in locQueue){\n  var devLocs = locQueue[dev];\n  var devPlates = plateQueue[dev];\n  \n  if (!devLocs || !devPlates){\n    continue;\n  }\n  \n  if (devLocs.length === 0 || devPlates.length === 0){\n    continue;\n  }\n\n  while (loc = locQueue[dev].shift()){\n    var plate = plateQueue[dev].shift();\n    if (!plate){\n      break;\n    }\n    merged.push({payload:{\n      dev: dev,\n      location: loc.location,\n      plate: plate.plate\n    }}); \n  }\n  \n}\nif (merged.length){\n  return [merged];\n}",
        "id": "99ed4f6b.3f1be",
        "name": "merge by Loc.dev === Cam.dev",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
          [
            "cfb92941.33cf78",
            "5a8050f6.64d2"
          ]
        ],
        "x": 563,
        "y": 157,
        "z": "1c925984.e34566"
      }
    ]
  }
}