test/test_flows.json
[
	{
		"name":"test1",
		"description":"Original flow should be returned intact",
		"input":[{"type":"tab","id":"683046f8.97cfb8","label":"Test Flow"},{"id":"43277438.bcd88c","type":"inject","z":"683046f8.97cfb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100.5,"y":69,"wires":[["278862df.d8779e","c3bc33f0.3c43d","145363b5.ebac9c"]]},{"id":"278862df.d8779e","type":"file in","z":"683046f8.97cfb8","name":"","filename":"dnr.test","format":"utf8","x":306.5,"y":110,"wires":[["87b76213.7848a"]],"constraints":{}},{"id":"87b76213.7848a","type":"debug","z":"683046f8.97cfb8","name":"","active":true,"console":"false","complete":"false","x":526.5,"y":72,"wires":[]},{"id":"c3bc33f0.3c43d","type":"function","z":"683046f8.97cfb8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":308.5,"y":46,"wires":[["87b76213.7848a"]]},{"id":"145363b5.ebac9c","type":"function","z":"683046f8.97cfb8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":217.5,"y":170,"wires":[["a91a500b.56e5b","4d531157.b2acf"]]},{"id":"a91a500b.56e5b","type":"function","z":"683046f8.97cfb8","name":"","func":"\nreturn msg;","outputs":"2","noerr":0,"x":385.5,"y":169,"wires":[["87b76213.7848a"],["4d531157.b2acf","73782328.8c87dc"]]},{"id":"1c5f02c8.e3a0fd","type":"inject","z":"683046f8.97cfb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":183.5,"y":239,"wires":[["a91a500b.56e5b"]]},{"id":"4d531157.b2acf","type":"debug","z":"683046f8.97cfb8","name":"","active":true,"console":"false","complete":"false","x":433.5,"y":237,"wires":[]},{"id":"73782328.8c87dc","type":"debug","z":"683046f8.97cfb8","name":"","active":true,"console":"false","complete":"false","x":563.5,"y":155,"wires":[]}],
		"output":[{"type":"tab","id":"d5b65fc.f2a49a","label":"Test Flow"},{"id":"999fef2d.66601","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3d54d78f.c2ab28","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7d4b1a3.f82b4e4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7c2fe11b.83d02","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e00bb489.1ff448","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3acf36d4.c530ca","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"44ab1845.bb54e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"73e3c838.8c1c38","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"ab9d304a.5462d","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"31ff9c2b.ce0064","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"661f5531.99e0ac","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d353c8c1.2cac38","type":"inject","z":"d5b65fc.f2a49a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100.5,"y":69,"wires":[["96d577a.f692a88","d0ba6241.2f45a","1ea7f3aa.e1580c"]]},{"id":"96d577a.f692a88","type":"file in","z":"d5b65fc.f2a49a","name":"","filename":"dnr.test","format":"utf8","x":306.5,"y":110,"wires":[["a192e50e.5e6d18"]],"constraints":{}},{"id":"a192e50e.5e6d18","type":"debug","z":"d5b65fc.f2a49a","name":"","active":true,"console":"false","complete":"false","x":526.5,"y":72,"wires":[]},{"id":"d0ba6241.2f45a","type":"function","z":"d5b65fc.f2a49a","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":308.5,"y":46,"wires":[["a192e50e.5e6d18"]]},{"id":"1ea7f3aa.e1580c","type":"function","z":"d5b65fc.f2a49a","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":217.5,"y":170,"wires":[["ceb83541.3147c8","a3624576.5c9db8"]]},{"id":"ceb83541.3147c8","type":"function","z":"d5b65fc.f2a49a","name":"","func":"\nreturn msg;","outputs":"2","noerr":0,"x":385.5,"y":169,"wires":[["a192e50e.5e6d18"],["a3624576.5c9db8","71a74f46.8e58b"]]},{"id":"df081a93.20f7e8","type":"inject","z":"d5b65fc.f2a49a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":183.5,"y":239,"wires":[["ceb83541.3147c8"]]},{"id":"a3624576.5c9db8","type":"debug","z":"d5b65fc.f2a49a","name":"","active":true,"console":"false","complete":"false","x":433.5,"y":237,"wires":[]},{"id":"71a74f46.8e58b","type":"debug","z":"d5b65fc.f2a49a","name":"","active":true,"console":"false","complete":"false","x":563.5,"y":155,"wires":[]},{"birthPayload":"","birthQos":"0","birthRetain":null,"birthTopic":"","broker":"localhost","cleansession":true,"clientid":"","compatmode":true,"credentials":{"password":"","user":""},"id":"dnr.system_node","keepalive":"15","port":"1883","type":"mqtt-broker","usetls":false,"verifyservercert":true,"willPayload":"","willQos":"0","willRetain":null,"willTopic":"","z":""}], 
		"outputLength":11
	},
	{
		"name":"test21",
		"description":"Replacing unsatisfied node with DNR node",
		"input":[{ "id": "ab6583ac.549a8", "label": "Test Flow", "type": "tab" }, {"id":"7f105a5f.80efa4","type":"inject","z":"ab6583ac.549a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":252.5,"y":60,"wires":[["d7b16695.284e98"]]},{"id":"d7b16695.284e98","type":"debug","z":"ab6583ac.549a8","name":"","active":true,"console":"false","complete":"false","x":535.5,"y":87,"wires":[],"constraints":{"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}}],
		"output":[{"id":"11ad4f53.ee52b1","label":"Test Flow","type":"tab"},{"id":"999fef2d.66601","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3d54d78f.c2ab28","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7d4b1a3.f82b4e4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7c2fe11b.83d02","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e00bb489.1ff448","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3acf36d4.c530ca","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"44ab1845.bb54e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"73e3c838.8c1c38","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"ab9d304a.5462d","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"31ff9c2b.ce0064","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"661f5531.99e0ac","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"c5ebb08e.3a145","type":"inject","z":"11ad4f53.ee52b1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":252.5,"y":60,"wires":[["ed13155a.12ece8"]]},{"id":"ed13155a.12ece8","type":"dnr","z":"11ad4f53.ee52b1","name":"","active":true,"console":"false","complete":"false","x":535.5,"y":87,"wires":[],"constraints":{"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"birthPayload":"","birthQos":"0","birthRetain":null,"birthTopic":"","broker":"localhost","cleansession":true,"clientid":"","compatmode":true,"credentials":{"password":"","user":""},"id":"dnr.system_node","keepalive":"15","port":"1883","type":"mqtt-broker","usetls":false,"verifyservercert":true,"willPayload":"","willQos":"0","willRetain":null,"willTopic":"","z":""}], 
		"outputLength":4
	},
	{
		"name":"test2",
		"description":"Even if a node satisifies, DNR nodes still attached so that other nodes depend on it can still get the data",
		"input":[{ "id": "683046f8.97cfb8", "label": "Test Flow", "type": "tab" }, { "crontab": "", "id": "43277438.bcd88c", "name": "", "once": false, "payload": "", "payloadType": "date", "repeat": "", "topic": "", "type": "inject", "wires": [ [ "278862df.d8779e" ] ], "x": 109.5, "y": 49, "z": "683046f8.97cfb8" }, { "constraints": { "1880": { "deviceId": "1880", "fill": "#f7dbe4", "id": "1880", "text": "1880" } }, "filename": "dnr.test", "format": "utf8", "id": "278862df.d8779e", "name": "", "type": "file in", "wires": [ [ "87b76213.7848a" ] ], "x": 251.5, "y": 127, "z": "683046f8.97cfb8" }, { "active": true, "complete": "false", "console": "false", "id": "87b76213.7848a", "name": "", "type": "debug", "wires": [], "x": 438.5, "y": 77, "z": "683046f8.97cfb8" } ],
		"output":[{"id":"c359149.f3ca6e8","label":"Test Flow","type":"tab"},{"id":"999fef2d.66601","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3d54d78f.c2ab28","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7d4b1a3.f82b4e4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7c2fe11b.83d02","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e00bb489.1ff448","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3acf36d4.c530ca","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"44ab1845.bb54e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"73e3c838.8c1c38","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"ab9d304a.5462d","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"31ff9c2b.ce0064","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"661f5531.99e0ac","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d889aea0.27765","type":"inject","z":"c359149.f3ca6e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.5,"y":49,"wires":[["ce6b2994.3194d8"]]},{"id":"ce6b2994.3194d8","type":"file in","z":"c359149.f3ca6e8","name":"","filename":"dnr.test","format":"utf8","x":251.5,"y":127,"wires":[["17ca490a.e835b7","dnr.7e6ac254.81953c"]],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"}}},{"id":"17ca490a.e835b7","type":"debug","z":"c359149.f3ca6e8","name":"","active":true,"console":"false","complete":"false","x":438.5,"y":77,"wires":[]},{"birthPayload":"","birthQos":"0","birthRetain":null,"birthTopic":"","broker":"localhost","cleansession":true,"clientid":"","compatmode":true,"credentials":{"password":"","user":""},"id":"dnr.system_node","keepalive":"15","port":"1883","type":"mqtt-broker","usetls":false,"verifyservercert":true,"willPayload":"","willQos":"0","willRetain":null,"willTopic":"","z":""},{"broker":"dnr.system_node","id":"dnr.a289c973.5d7638","name":"","topic":"d889aea0.27765-0-ce6b2994.3194d8","type":"dnr","wires":[["ce6b2994.3194d8"]],"x":231.5,"y":107,"z":"c359149.f3ca6e8"},{"broker":"dnr.system_node","id":"dnr.7e6ac254.81953c","name":"","topic":"ce6b2994.3194d8-0-17ca490a.e835b7","type":"dnr","wires":[[]],"x":271.5,"y":147,"z":"c359149.f3ca6e8"}], 
		"outputLength":7
	},
	{
		"name":"test3",
		"description":"Replacing an unsatisfied node that in the middle of two other nodes with DNR node",
		"input":[{ "id": "683046f8.97cfb8", "label": "Test Flow", "type": "tab" }, {"id":"90d9455a.6f26b8","type":"inject","z":"407a0319.bf85fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.5,"y":49,"wires":[["c4fb158b.3b04e8"]]},{"id":"c4fb158b.3b04e8","type":"file in","z":"407a0319.bf85fc","name":"","filename":"dnr.test","format":"utf8","x":251.5,"y":127,"wires":[["ca7ca70b.358358"]],"constraints":{"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"id":"ca7ca70b.358358","type":"debug","z":"407a0319.bf85fc","name":"","active":true,"console":"false","complete":"false","x":438.5,"y":77,"wires":[]}],
		"output":[{"type":"tab","id":"138411bb.ec7bee","label":"Flow 1"},{"id":"999fef2d.66601","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3d54d78f.c2ab28","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7d4b1a3.f82b4e4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7c2fe11b.83d02","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e00bb489.1ff448","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3acf36d4.c530ca","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"44ab1845.bb54e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"73e3c838.8c1c38","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"ab9d304a.5462d","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"31ff9c2b.ce0064","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"661f5531.99e0ac","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"ffbf4c9e.0040b","type":"inject","z":"138411bb.ec7bee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":193,"y":102,"wires":[["bc84580b.437ba8"]]},{"id":"bc84580b.437ba8","type":"dnr","z":"138411bb.ec7bee","name":"","filename":"dnr.test","format":"utf8","x":335,"y":180,"wires":[["84756cdb.7b8a9"]],"constraints":{"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"id":"84756cdb.7b8a9","type":"debug","z":"138411bb.ec7bee","name":"","active":true,"console":"false","complete":"false","x":522,"y":130,"wires":[]},{"birthPayload":"","birthQos":"0","birthRetain":null,"birthTopic":"","broker":"localhost","cleansession":true,"clientid":"","compatmode":true,"credentials":{"password":"","user":""},"id":"dnr.system_node","keepalive":"15","port":"1883","type":"mqtt-broker","usetls":false,"verifyservercert":true,"willPayload":"","willQos":"0","willRetain":null,"willTopic":"","z":""}], 
		"outputLength":5
	},
	{
		"name":"test4",
		"description":"Do not replace a node that satisifies one of the constraints, but still attach DNR node so that dependant nodes can still get the data",
		"input":[{"id":"407a0319.bf85fc","label":"Test Flow","type":"tab"},{"id":"90d9455a.6f26b8","type":"inject","z":"407a0319.bf85fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.5,"y":49,"wires":[["c4fb158b.3b04e8"]]},{"id":"c4fb158b.3b04e8","type":"file in","z":"407a0319.bf85fc","name":"","filename":"dnr.test","format":"utf8","x":251.5,"y":127,"wires":[["ca7ca70b.358358"]],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"},"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"id":"ca7ca70b.358358","type":"debug","z":"407a0319.bf85fc","name":"","active":true,"console":"false","complete":"false","x":444.5,"y":93,"wires":[]}],
		"output":[{"id":"1dbaa1a7.e2455e","label":"Test Flow","type":"tab"},{"id":"999fef2d.66601","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3d54d78f.c2ab28","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7d4b1a3.f82b4e4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7c2fe11b.83d02","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e00bb489.1ff448","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3acf36d4.c530ca","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"44ab1845.bb54e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"73e3c838.8c1c38","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"ab9d304a.5462d","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"31ff9c2b.ce0064","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"661f5531.99e0ac","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7040dc93.8fbf24","type":"inject","z":"1dbaa1a7.e2455e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.5,"y":49,"wires":[["1b6e0bac.e491f4"]]},{"id":"1b6e0bac.e491f4","type":"file in","z":"1dbaa1a7.e2455e","name":"","filename":"dnr.test","format":"utf8","x":251.5,"y":127,"wires":[["65f4c286.9a0b3c","dnr.fd913d0e.026ec"]],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"},"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"id":"65f4c286.9a0b3c","type":"debug","z":"1dbaa1a7.e2455e","name":"","active":true,"console":"false","complete":"false","x":444.5,"y":93,"wires":[]},{"birthPayload":"","birthQos":"0","birthRetain":null,"birthTopic":"","broker":"localhost","cleansession":true,"clientid":"","compatmode":true,"credentials":{"password":"","user":""},"id":"dnr.system_node","keepalive":"15","port":"1883","type":"mqtt-broker","usetls":false,"verifyservercert":true,"willPayload":"","willQos":"0","willRetain":null,"willTopic":"","z":""},{"broker":"dnr.system_node","id":"dnr.7a436617.85bc98","name":"","topic":"7040dc93.8fbf24-0-1b6e0bac.e491f4","type":"dnr","wires":[["1b6e0bac.e491f4"]],"x":231.5,"y":107,"z":"1dbaa1a7.e2455e"},{"broker":"dnr.system_node","id":"dnr.fd913d0e.026ec","name":"","topic":"1b6e0bac.e491f4-0-65f4c286.9a0b3c","type":"dnr","wires":[[]],"x":271.5,"y":147,"z":"1dbaa1a7.e2455e"}], 
		"outputLength":7
	},
	{
		"name":"test5",
		"description":"Two adjacent DNR nodes should not be merged together",
		"input":[{"id":"407a0319.bf85fc","label":"Test Flow","type":"tab"},{"id":"90d9455a.6f26b8","type":"inject","z":"407a0319.bf85fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.5,"y":49,"wires":[["c4fb158b.3b04e8"]]},{"id":"c4fb158b.3b04e8","type":"file in","z":"407a0319.bf85fc","name":"","filename":"dnr.test","format":"utf8","x":251.5,"y":127,"wires":[["1a5b788.fe5a488"]],"constraints":{"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"id":"ca7ca70b.358358","type":"debug","z":"407a0319.bf85fc","name":"","active":true,"console":"false","complete":"false","x":525.5,"y":67,"wires":[],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"}}},{"id":"1a5b788.fe5a488","type":"function","z":"407a0319.bf85fc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":380.5,"y":191,"wires":[["ca7ca70b.358358"]],"constraints":{"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}}],
		"output":[{"id":"82c3cf92.7d3c3","label":"Test Flow","type":"tab"},{"id":"999fef2d.66601","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3d54d78f.c2ab28","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7d4b1a3.f82b4e4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7c2fe11b.83d02","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e00bb489.1ff448","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3acf36d4.c530ca","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"44ab1845.bb54e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"73e3c838.8c1c38","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"ab9d304a.5462d","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"31ff9c2b.ce0064","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"661f5531.99e0ac","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"1293bbf3.ed6c44","type":"inject","z":"82c3cf92.7d3c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.5,"y":49,"wires":[["118807b6.ee77f8"]]},{"id":"118807b6.ee77f8","type":"dnr","z":"82c3cf92.7d3c3","name":"","filename":"dnr.test","format":"utf8","x":251.5,"y":127,"wires":[["e4517a0d.1bae88"]],"constraints":{"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"id":"6ed30e61.912cf","type":"debug","z":"82c3cf92.7d3c3","name":"","active":true,"console":"false","complete":"false","x":525.5,"y":67,"wires":[],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"}}},{"id":"e4517a0d.1bae88","type":"dnr","z":"82c3cf92.7d3c3","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":380.5,"y":191,"wires":[["6ed30e61.912cf"]],"constraints":{"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"birthPayload":"","birthQos":"0","birthRetain":null,"birthTopic":"","broker":"localhost","cleansession":true,"clientid":"","compatmode":true,"credentials":{"password":"","user":""},"id":"dnr.system_node","keepalive":"15","port":"1883","type":"mqtt-broker","usetls":false,"verifyservercert":true,"willPayload":"","willQos":"0","willRetain":null,"willTopic":"","z":""}], 
		"outputLength":6
	},
	{
		"name":"test6",
		"description":"If a node has been replaced with DNR node, refrain from attaching unecessary DNR node",
		"input":[{"id":"407a0319.bf85fc","label":"Test Flow","type":"tab"},{"id":"90d9455a.6f26b8","type":"inject","z":"407a0319.bf85fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.5,"y":49,"wires":[["c4fb158b.3b04e8"]]},{"id":"c4fb158b.3b04e8","type":"file in","z":"407a0319.bf85fc","name":"","filename":"dnr.test","format":"utf8","x":251.5,"y":127,"wires":[["1a5b788.fe5a488"]],"constraints":{"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"id":"ca7ca70b.358358","type":"debug","z":"407a0319.bf85fc","name":"","active":true,"console":"false","complete":"false","x":525.5,"y":67,"wires":[],"constraints":{}},{"id":"1a5b788.fe5a488","type":"function","z":"407a0319.bf85fc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":380.5,"y":191,"wires":[["ca7ca70b.358358"]],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"}}}],
		"output":[{"id":"344f6998.cbb096","label":"Test Flow","type":"tab"},{"id":"999fef2d.66601","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3d54d78f.c2ab28","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7d4b1a3.f82b4e4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7c2fe11b.83d02","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e00bb489.1ff448","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3acf36d4.c530ca","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"44ab1845.bb54e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"73e3c838.8c1c38","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"ab9d304a.5462d","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"31ff9c2b.ce0064","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"661f5531.99e0ac","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"5829232e.a7d6dc","type":"inject","z":"344f6998.cbb096","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.5,"y":49,"wires":[["69e86a36.961794"]]},{"id":"69e86a36.961794","type":"dnr","z":"344f6998.cbb096","name":"","filename":"dnr.test","format":"utf8","x":251.5,"y":127,"wires":[["b1a67d46.4e598"]],"constraints":{"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"id":"1ad8e62b.e5271a","type":"debug","z":"344f6998.cbb096","name":"","active":true,"console":"false","complete":"false","x":525.5,"y":67,"wires":[],"constraints":{}},{"id":"b1a67d46.4e598","type":"function","z":"344f6998.cbb096","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":380.5,"y":191,"wires":[["1ad8e62b.e5271a","dnr.bbf02455.440fd8"]],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"}}},{"birthPayload":"","birthQos":"0","birthRetain":null,"birthTopic":"","broker":"localhost","cleansession":true,"clientid":"","compatmode":true,"credentials":{"password":"","user":""},"id":"dnr.system_node","keepalive":"15","port":"1883","type":"mqtt-broker","usetls":false,"verifyservercert":true,"willPayload":"","willQos":"0","willRetain":null,"willTopic":"","z":""},{"broker":"dnr.system_node","id":"dnr.bbf02455.440fd8","name":"","topic":"b1a67d46.4e598-0-1ad8e62b.e5271a","type":"dnr","wires":[[]],"x":400.5,"y":211,"z":"344f6998.cbb096"}], 
		"outputLength":7
	},
	{
		"name":"test7",
		"description":"PENDING... If a node has been replaced with DNR node, refrain from attaching unecessary DNR node",
		"input":[{"id":"407a0319.bf85fc","label":"Test Flow","type":"tab"},{"id":"4e5a40b8.b1a5c","type":"inject","z":"407a0319.bf85fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104,"y":45,"wires":[["d91ec6a6.26e138"]]},{"id":"d91ec6a6.26e138","type":"file in","z":"407a0319.bf85fc","name":"","filename":"dnr.test","format":"utf8","x":246,"y":123,"wires":[["57a95553.a856ac","9922b6da.66dd48"]],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"},"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"id":"57a95553.a856ac","type":"debug","z":"407a0319.bf85fc","name":"","active":true,"console":"false","complete":"false","x":439,"y":89,"wires":[],"constraints":{"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"id":"9922b6da.66dd48","type":"debug","z":"407a0319.bf85fc","name":"","active":true,"console":"false","complete":"false","x":436.5,"y":173,"wires":[],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"}}}],
		"output":[1,1,1,1,1,1,1,1,1], 
		"outputLength":9
	},
	{
		"name":"test9",
		"description":"Testing node with multiple ouputs",
		"input":[{"id":"5899660e.a76698","label":"Test Flow","type":"tab"},{"id":"86f660c8.7909a","type":"inject","z":"5899660e.a76698","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":48,"wires":[["6aec314b.9513d"]]},{"id":"d2acd3d1.2d533","type":"debug","z":"5899660e.a76698","name":"","active":true,"console":"false","complete":"false","x":530,"y":66,"wires":[],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"}}},{"id":"6aec314b.9513d","type":"function","z":"5899660e.a76698","name":"","func":"\nreturn msg;","outputs":"3","noerr":0,"x":297,"y":131,"wires":[["d2acd3d1.2d533"],["475907e7.b8a6f8"],["813f4865.7ec0b8"]],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"}}},{"id":"475907e7.b8a6f8","type":"debug","z":"5899660e.a76698","name":"","active":true,"console":"false","complete":"false","x":503.5,"y":144,"wires":[],"constraints":{"1880":{"deviceId":"1880","fill":"#f7dbe4","id":"1880","text":"1880"},"1881":{"id":"1881","deviceId":"1881","fill":"#c46170","text":"1881"}}},{"id":"813f4865.7ec0b8","type":"debug","z":"5899660e.a76698","name":"","active":true,"console":"false","complete":"false","x":485.5,"y":219,"wires":[]}],
		"output":[1,1,1,1,1,1,1,1,1,1,1,1], 
		"outputLength":13
	}
]